body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
}

#infoBox {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: white;
    padding: 0.2rem;
}

#messages {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    position: fixed;
    top: 1rem;
    right: 0;
    padding: 0;
    margin: 0;

    list-style-type: none;
}

#messages.stacked {
    display: block;
}

.message, #empty-message, #minimizeMessages {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 25rem;

    background-color: #f6f6f6;
    border-radius: 10px 0 0 10px;
    padding: 1.4rem;
}
#minimizeMessages {
    width: 100%;
    border: 0;
}
#minimizeMessages:hover {
    background-color: #dadada;
}

/* TODO: evtl animation keyframes einfügen sodass alles nach oben und opacity */
.stacked .message {
    position: absolute;
    top: 0;
    right: 0;
}
.stacked .message:not(:first-child:nth-last-child(3)) {
    /* only show the "layered-notification-effect" if there are actually multiple notifications (not just one)*/
    /* ":first-child:nth-last-child(3)" would equal ":only-3-childs" (instead of ":only-child") because the base notification "no messages" is always there*/

    box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.1),  /*shadow behind first element*/
                8px 8px 0 0 #e3e3e3,                /*"second" notification*/
                18px 16px 0 0 #cdcdcd,              /*"third" notification*/
                0 21px 5px -8px rgba(0, 0, 0, 0.1); /*shadow behind "last element"*/
    /* possible todo: show more or less shadows depending on number of notifications */

    cursor: pointer;
}
.stacked .message:not(:first-of-type){
    /* hide all other notifications (except for the first one) if the notifications are stacked */
    display: none;
}
.stacked #minimizeMessages {
    display: none;
    /*    hover*/
}

.message-text span {
    display: block;
}

.message-text .header {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.message-text .subtext {
    color: #7c7c7c;
    font-weight: 400;
}

.pair-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.pair-buttons button {
    border: none;
    color: #050505;
    background-color: unset;
    cursor: pointer;
}

.pair-buttons .btn-secondary {
    color: #7c7c7c;
}

.material-symbols-outlined.md-28 {
    font-size: 28px;
}
.material-symbols-outlined.md-36 {
    font-size: 36px;
}

.mt-2 {
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}