body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
}

#infoBox {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: white;
    padding: 0.2rem;
}

#messages{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0;
}

.message {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 1rem 0 1rem;

    background-color: #efefef;
    border-radius: 10px;
    padding: 1rem;
    list-style-type: none;
}

.pair-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.pair-buttons button {
    border: none;
    color: #050505;
    cursor: pointer;
}

.material-symbols-outlined.md-36 {
    font-size: 36px;
}

.mt-2 {
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}