body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
}

#infoBox {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: white;
    padding: 0.2rem;
}

#messages {
    position: fixed;
    top: 1rem;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#messages > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.message {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 25rem;
    padding: 0 1rem 0 1rem;


    background-color: #f6f6f6;
    border-radius: 10px 0 0 10px;
    padding: 1.4rem;
    list-style-type: none;
}

.pair-text span {
    display: block;
}

.pair-text .header {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.pair-text .subtext {
    color: #7c7c7c;
    font-weight: 400;
}

.pair-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.pair-buttons button {
    border: none;
    color: #050505;
    background-color: unset;
    cursor: pointer;
}

.pair-buttons .btn-secondary {
    color: #7c7c7c;
}

.material-symbols-outlined.md-28 {
    font-size: 28px;
}
.material-symbols-outlined.md-36 {
    font-size: 36px;
}

.mt-2 {
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}